In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine
import getpass

In [2]:
password = getpass.getpass()

 ········

1. Establish a connection between Python and the Sakila database.

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [4]:
data = pd.read_sql_query('SELECT * FROM rental', engine)
data.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:
engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
month: an integer representing the month for which rental data is to be retrieved.
year: an integer representing the year for which rental data is to be retrieved.
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [5]:
def rentals_month(engine, month:int, year:int)-> pd.DataFrame:
    
    query = f"""
    SELECT
        rental.rental_id,
        rental.rental_date,
        rental.inventory_id,
        rental.customer_id,
        rental.return_date,
        rental.staff_id
    FROM
        rental
    WHERE
        MONTH(rental.rental_date) = {month}
        AND YEAR(rental.rental_date) = {year};
    """

    df = pd.read_sql_query(query, engine)

    return df

In [6]:
engine = create_engine(connection_string)
rental_data = rentals_month(engine, month=1, year=2005)
print(rental_data)

Empty DataFrame
Columns: [rental_id, rental_date, inventory_id, customer_id, return_date, staff_id]
Index: []

3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

In [7]:
def rental_count_month(rental_data, month:int, year:int)-> pd.DataFrame:
    # Getting the year and month from the rental_date column
    rental_data['rental_date'] = pd.to_datetime(rental_data['rental_date'])
    rental_data['rental_month'] = rental_data['rental_date'].dt.month
    rental_data['rental_year'] = rental_data['rental_date'].dt.year

    # Filter the DataFrame for a particular month and year
    filtered_data = rental_data[(rental_data['rental_month'] == month) & (rental_data['rental_year'] == year)]

    # Grouping by customer_id and counting the number of rentals
    rental_counts = filtered_data.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')

    return rental_counts

In [8]:
result_df = rental_count_month(rental_data, month=1, year=2005)
print(result_df)

Empty DataFrame
Columns: [customer_id, rentals_01_2005]
Index: []

4: Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [9]:
def compare_rentals(df1, df2)-> pd.DataFrame:
    
    merged_df = pd.merge(df1, df2, on='customer_id', how='outer', suffixes=('_left', '_right'))

    # Filling NaN values with 0 for customers not present in both months
    merged_df = merged_df.fillna(0)

    # Computing the difference between the number of rentals
    merged_df['difference'] = merged_df[f'rentals_{df1.columns[1]}'] - merged_df[f'rentals_{df2.columns[1]}']

    return merged_df